<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">




	<bean name="student" class="edu.umsl.umslLearnDI.Employee">
		<constructor-arg name="firstName" value="John"></constructor-arg>
		<constructor-arg name="lastName" value="Smith"></constructor-arg>
                <constructor-arg name="ssn" value="444342312"></constructor-arg>
		<constructor-arg name="address" ref="address"></constructor-arg>
                <constructor-arg name="department" ref="department"></constructor-arg>
        
	</bean>
	<bean name="address" class="edu.umsl.umslLearnDI.Address">
		<constructor-arg name="houseNumber" value="1"></constructor-arg>
		<constructor-arg name="streetName" value="Broadway"></constructor-arg>
		<constructor-arg name="zip" value="63118"></constructor-arg>
	</bean>
        <bean name ="department" class="edu.umsl.umslLearnDI.Department">
            <constructor-arg name="departmentID" value="3212"></constructor-arg>
		<constructor-arg name="departmentName" value="Department32"></constructor-arg>
        </bean>
</beans>
